@charset "UTF-8";
@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

article {
  width: 40vw;
  position: absolute;
  top: 50%;
  left: 5vw;
  transform: translateY(-50%);

  p {
    font: 4vw/1 "orbitron";
    color: #fff;
    margin-bottom: 20px;

    strong {
      opacity: 0.8;

      &::after {
        content: "";
        display: block;
        width: 450px;
        height: 3px;
        background: #fff;
        opacity: 0.8;
        margin-top: 10px;
      }
    }
  }
  em {
    font: bold 30px/1.2 "arial";
    color: rgb(156, 247, 242);
    letter-spacing: 2px;
    opacity: 0.8;
    margin-left: 10px;
  }
}

figure {
  width: 800px;
  height: 500px;
  position: absolute;
  right: -90px;
  top: 50%;
  transform: translateY(-30%);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/phone.png);

  .screen {
    bottom: 10vh;
    width: 340px;
    height: 201px;
    position: absolute;
    top: 16px;
    left: 165px;
    font: 40px/300px "orbitron";
    color: #fff;
    text-align: center;
    display: flex;
    overflow: hidden;

    em {
      position: absolute;
      top: 100px;
      left: 10px;
      line-height: 1;
      font-size: 20px;
      opacity: 0;

      &.on {
        opacity: 1;
      }
    }

    span {
      display: inline-block;
      width: 80px;
    }
  }
}

nav {
  width: 90vw;
  height: 35px;
  position: absolute;
  left: 5vw;
  bottom: 7vh;
  display: flex;
  justify-content: space-between;

  span {
    width: 23%;
    height: 100%;
    background: rgb(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font: 15px/1 "orbitron";
    color: #fff;
    letter-spacing: 2px;
    border: 1px solid #bbb;
    opacity: 0.7;
    transition: 0.5s;

    &.on {
      background: rgba(255, 255, 255, 0.8);
      border: 1px solid #fff;
      color: #000;
      opacity: 1;
    }
  }
}
